{% load cms_tags sekizai_tags i18n %}

{% trans "An unknown error has occurred. Please try again, or notify us if you continue to have an issue." as unknown_error %}
{% url "customizeGiftCertificate" as certificate_url %}

<div class="card my-4 door-payment-section">
  <h6 class="card-header">
    {% trans "Pay Now with Square" %}
    </h6>
    <div class="card-body">
      {% if allow_amount_entry %}
      <form id="options-form" onsubmit="event.preventDefault();">
            <input type="hidden" name="transaction_type" value="{{ transaction_type }}">
            <input class="sq-input full-width" id="id_amount" name="amount" type="number" value="{{ instance.defaultAmount }}" />
            <input class="sq-input full-width" id="id_email" type="email" name="customerEmail">
      </form>
      {% endif %}
      <form id="payment-form">
        <div id="card-container"></div>
        <button id="card-button" class="btn btn-lg btn-primary" type="button">Submit Payment</button>
      </form>
      <div id="payment-status-container"></div>
    </div>
</div>

{% addtoblock "js" %}
<script>
    const squareCheckoutParams = {
      appId: '{{ squareApplicationId }}',
      locationId: '{{ squareLocationId }}',
      process_url: "{% url 'processSquarePayment' %}",
      transaction_details: {
        idempotency_key: "{{ idempotency_key }}",
        {% if user.is_authenticated %}
          user_id: "{{ user.id }}",
        {% endif %}
        {% if invoice %}
            invoice_id: "{{ invoice.id }}",
            {% if invoice.email %}
            customerEmail: "{{ invoice.email }}",
            {% endif %}
        {% endif %}
        {% if transaction_type == "Gift Certificate" and certificate_url %}
          successUrl: "{{ certificate_url }}",
          addSessionInfo: true,
        {% else %}
          addSessionInfo: "{% page_url instance.successPage.id %}",
        {% endif %}
      },
    };
</script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    async function initializeCard(payments) {
      const card = await payments.card();
      await card.attach('#card-container'); 
      return card; 
    }

    document.addEventListener('DOMContentLoaded', async function () {
      if (!window.Square) {
        throw new Error('Square.js failed to load properly');
      }

      const payments = window.Square.payments(
        squareCheckoutParams.appId, squareCheckoutParams.locationId
      );
      let card;
      try {
        card = await initializeCard(payments);
      } catch (e) {
        console.error('Initializing Card failed', e);
        return;
      }

      // Checkpoint 2.
      async function handlePaymentMethodSubmission(event, paymentMethod) {
        event.preventDefault();

        try {
          // disable the submit button as we await tokenization and make a
          // payment request.
          cardButton.disabled = true;
          const token = await tokenize(paymentMethod);
          const paymentResults = await createPayment(token);
          displayPaymentResults('SUCCESS');

          console.debug('Payment Success', paymentResults);
        } catch (e) {
          cardButton.disabled = false;
          displayPaymentResults('FAILURE');
          console.error(e.message);
        }
      }

      const cardButton = document.getElementById(
        'card-button'
      );
      cardButton.addEventListener('click', async function (event) {
        await handlePaymentMethodSubmission(event, card);
      });
    });

    // Call this function to send a payment token, buyer name, and other details
    // to the project server code so that a payment can be created with 
    // Payments API
    async function createPayment(token) {
      console.log('Got to call createPayment');
      const options_form = document.getElementById('options-form');
      var this_form_data = new FormData();
      if (options_form !== null) {
        this_form_data = new FormData(document.getElementById('options-form'));
      }
      const form_data_object = Object.fromEntries(this_form_data.entries());

      const details = Object.assign(
        squareCheckoutParams.transaction_details,
        {locationId: squareCheckoutParams.locationId, sourceId: token},
        form_data_object
      );

      console.log('Here are details')
      console.log(details);

      const body = JSON.stringify(details);

      console.log('Here is body');
      console.log(body);

      const paymentResponse = await fetch(squareCheckoutParams.process_url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
        },
        mode: 'same-origin',
        body,
      });
      if (paymentResponse.ok) {
        return paymentResponse.json();
      }
      const errorBody = await paymentResponse.text();
      throw new Error(errorBody);
    }

    // This function tokenizes a payment method. 
    // The ‘error’ thrown from this async function denotes a failed tokenization,
    // which is due to buyer error (such as an expired card). It is up to the
    // developer to handle the error and provide the buyer the chance to fix
    // their mistakes.
    async function tokenize(paymentMethod) {
      const tokenResult = await paymentMethod.tokenize();
      if (tokenResult.status === 'OK') {
        return tokenResult.token;
      } else {
        let errorMessage = `Tokenization failed-status: ${tokenResult.status}`;
        if (tokenResult.errors) {
          errorMessage += ` and errors: ${JSON.stringify(
            tokenResult.errors
          )}`;
        }
        throw new Error(errorMessage);
      }
    }

    // Helper method for displaying the Payment Status on the screen.
    // status is either SUCCESS or FAILURE;
    function displayPaymentResults(status) {
      const statusContainer = document.getElementById(
        'payment-status-container'
      );
      if (status === 'SUCCESS') {
        statusContainer.classList.remove('is-failure');
        statusContainer.classList.add('is-success');
      } else {
        statusContainer.classList.remove('is-success');
        statusContainer.classList.add('is-failure');
      }

      statusContainer.style.visibility = 'visible';
    }    

</script>
{% endaddtoblock %}
