{% load i18n %}
{% if 'square.handle_pos_payments' in perms and registration.payAtDoor %}

<a class="btn btn-primary" href="intent:#Intent;action=com.squareup.pos.action.CHARGE;package=com.squareup;S.com.squareup.pos.WEB_CALLBACK_URI={{ returnUrl }};S.com.squareup.pos.CLIENT_ID={{ squareApplicationId }};S.com.squareup.pos.API_VERSION=v2.0;i.com.squareup.pos.TOTAL_AMOUNT={% if registration %}{% widthratio registration.priceWithDiscount 1 100 %}{% elif invoice %}{% widthratio invoice.outstandingBalance 1 100 %}{% else %}{% widthratio defaultAmount 1 100 %}{% endif %};S.com.squareup.pos.CURRENCY_CODE={{ currencyCode }};S.com.squareup.pos.TENDER_TYPES=com.squareup.pos.TENDER_CARD,com.squareup.pos.TENDER_CARD_ON_FILE,com.squareup.pos.TENDER_CASH,com.squareup.pos.TENDER_OTHER;S.com.squareup.pos.REQUEST_METADATA={% if registration %}registration__{{ registration.id }}{% elif invoice %}invoice__{{ invoice.id }}{% endif %};end">Send to Square App</a>

<p>{% blocktrans %}<em>Note:</em> Square Point of Sale app must be installed and logged in before attempting this transaction.{% endblocktrans %}</p>

{% endif %}