{% extends "cms/home.html" %}
{% load cms_tags menu_tags danceschool_tags %}

{% block body %}

{% block navbar %}
  {% show_menu 0 100 100 100 "cms/navbar.html" %}
  {% include "half_slider/carousel.html" %}
{% endblock %}

{% block content %}
	<!-- Page Content -->
	<section class="py-5">
	  <div class="container">
	    {% placeholder "content" %}
	  </div>
	</section>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; {% getSchoolName %} {% now "Y" %}</p>
  </div>
  <!-- /.container -->
</footer>
{% endblock %}

{% endblock %}
