{% extends "cms/home.html" %}
{% load danceschool_tags crispy_forms_tags djangocms_alias_tags i18n %}

{% block title %}{% trans "Complete Your Registration" %}{% endblock %}

{% block content %}

{# Display any warning or error messages associated with the previous form submission #}
<div id="message-alerts">
{% for message in messages %}
    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% else %}alert-info{% endif %}">{{ message }}</div>
{% endfor %}
</div>

<div class="regsummary">
	{% block summary %}
		{% include 'core/base/base_detailed_summary_block.html' %}
	{% endblock %}

	{% block payment_info %}
	     {% if is_complete or zero_balance %}
			<p>{% trans "Thanks! You're all set." %}</p>

			<p><a href="{{ returnPage }}" class="btn btn-primary btn-lg">{% trans "Return" %}</a></p>
		 {% else %}
		 	<p>
			 {% trans "In order to complete your registration you must click on the button below to make a payment." %}
			</p>

		 	{% if payAtDoor %}
				{% static_alias "registration_payatdoor_placeholder" site %}
				{% static_alias "registration_invoice_placeholder" site %}
			{% else %}
				{% static_alias "registration_payment_placeholder" site %}
			{% endif %}
	    {% endif %}

	{% endblock %}

	{% block disclaimer %}
		{% static_alias "registration_summary_disclaimer" site %}
	{% endblock %}

</div>
{% endblock %}
