{% load danceschool_tags cms_tags static %}

{% if payment_context.Paypal %}
    <form action="{{ paypal_url }}" method="post">
        <input type="hidden" name="business" value="{{ paypal_account }}" id="id_business"/>

		{% for key,value in payment_context.Paypal.payNowItems.items %}
		<input type="hidden" name="{{ key }}" value="{{ value }}" />
		{% endfor %}

		{% if payment_context.Paypal.discount_amount_cart > 0 %}
		<input type="hidden" name="discount_amount_cart" value="{{ payment_context.Paypal.discount_amount_cart }}" />
		{% endif %}
		
        <input type="hidden" name="notify_url" value="{{ site_root }}{% url 'payment_received' %}" id="id_notify_url"/>
        <input type="hidden" name="cancel_return" value="{{ site_root }}{% page_url instance.cancellationPage.id %}" id="id_cancel_return"/>
        <input type="hidden" name="return" value="{{ site_root }}{% page_url instance.successPage.id %}" id="id_return_url"/>
        <input type="hidden" name="custom" value="{{ payment_context.Paypal.custom }}" id="id_custom"/>
        <input type="hidden" name="invoice" value="{{ payment_context.Paypal.invoice_id }}" id="id_invoice"/>
        <input type="hidden" name="cmd" value="_cart" id="id_cmd"/>
		<input type="hidden" name="upload" value="1">
        <input type="hidden" name="charset" value="utf-8" id="id_charset"/>
        <input type="hidden" name="currency_code" value="{{ currencyCode }}" id="id_currency_code"/>
        <input type="hidden" name="no_shipping" value="1" id="id_no_shipping"/>
        <input type="image" src="{% static 'images/btn_buynowCC_LG.gif' %}" border="0" name="submit" alt="Buy it Now"/>
    </form>
{% endif %}
