Hello!

Thank you for purchasing a gift certificate from {{ businessName }}. Whether you will be using this certificate for yourself or for a friend or loved one, we are happy to be sharing the gift of dance with you.

We have received and processed your gift certificate in the amount of {{ currencySymbol }}{{ certificateAmount|floatformat:2 }}.  In order to redeem your gift certificate when registering for classes, please enter the following voucher code:

{{ certificateCode }}

If the amount of the voucher is greater than the amount of your registration, then you can continue to use this code until the full value of the voucher has been applied.

If you are giving this voucher as a gift, we have attached a PDF printable certificate which you can give to your recipient.  It includes all of the information that they will need to sign up for classes.

Thanks again, and we look forward to seeing you out on the dance floor soon!

Sincerely,
{{ businessName }}
