{% extends "cms/admin_home.html" %}
{% load danceschool_tags sekizai_tags i18n staticfiles %}

{% block main %}

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-9">
            <h1>{% trans "Nightly Register" %}: {{ today|date:"F jS, Y" }}</h1>
            <button class="btn btn-primary btn-lg submit-button invisible my-4" id="cart-submit">{% trans "Submit" %}</button>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#cart-container" role="button" aria-expanded="false" aria-controls="cart-container">
                    <i class="fa fa-shopping-cart fa-2x"></i>&nbsp;{% trans "Your Shopping Cart" %}&nbsp;<span id="itemCount" class="badge badge-success"></span>
            </a>
        </div>
    </div>

    <div id="alert-box"></div>

    <div class="row my-1">
        <div class="col-12 my-1" id="shoppingCart">
            <div class="collapse" id="cart-container">
                <div class="card">
                    <div class="card-header">
                        <h4>{% trans "Your Shopping Cart" %}
                            <div class="btn-group float-right">
                                <button class="btn btn-outline-secondary" id="emptyCart">{% trans "Empty" %}</button>
                                <button class="btn btn-outline-secondary" id="hideCart" data-toggle="collapse" href="#cart-container" role="button" aria-expanded="false" aria-controls="cart-container">^</span>
                            </div>

                        </h4>
                    </div>
                    <div class="card-body" id="cartItemsContainer">
                        <table class="table">
                            <thead>
                                <tr><th>{% trans "Item" %}</th><th>{% trans "Price" %}</th></tr>
                            </thead>
                            <tbody id="cartItems"></tbody>
                        </table>
                        <strong>{% trans "Total" %}:</strong>&nbsp;{{ currencySymbol }}<span id="cartTotal"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 my-1">
            {% for key, field in form.fields.items %}
                {% if field.event %}
                    <div class="card">
                        <div class="card-body item">
                            <div class="itemDetails">
                                <p>{{ field.label }}</p>
                                <p>{{ currencySymbol }}<span class="price">{{ field.event.pricingTier.doorPrice|floatformat:2 }}</span></p>
                            </div>
                            {% for value, choice in field.choices %}
                                {% if choice.type != "dropin" %}
                                    <button class="btn btn-outline-primary my-2 mx-2 add" data-id="{{ field.event.id}}" data-name="{{ field.event.name }}" data-price="{{ field.event.pricingTier.doorPrice }}" data-field="{{ value }}" data-role-name="{{ choice.roleName }}">{{ choice.label }}</button>
                                {% else %}
                                    <button class="btn btn-outline-primary my-2 mx-2 add" data-id="{{ field.event.id}}" data-name="{{ field.event.name }}" data-price="{{ field.event.pricingTier.dropinPrice }}" data-field="{{ value }}" data-role-name="{{ choice.roleName }}">{{ choice.label }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if voucherField %}
                <div class="card">
                    <div class="card-body item">
                        <div class="itemDetails">
                            <p>{{ form.gift.label_tag }}</p>
                            <p>
                                {{ form.gift }}
                                {{ form.gift.errors }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% addtoblock "js" %}
<script type="text/javascript">

    // Define global variables that are used by the register script.
    var currencySymbol = "{{ currencySymbol }}";
    var multipleRegisterString = "{% trans 'You can only register for one role per event. Please remove the existing item from your cart and try again.' %}";
    var registerUrl = "{% url 'nightlyRegister' year month day %}";

</script>
{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'js/nightlydoor_register.js' %}"></script>{% endaddtoblock %}

{% endblock %}
