{% load cms_tags i18n %}
{% load static %}

<div class="door-payment-section">
    <form action={% url 'stripeSession' %} method="POST" class="my-4">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <input type="hidden" name="submissionUser" value="{{ user.id }}">
        {% endif %}
        {% if invoice %}
            <input type="hidden" name="invoice_id" value="{{ invoice.id }}">
            <input type="hidden" name="stripeAmount" value="{{ invoice.outstandingBalance }}">
        {% endif %}
        <section class="section">
            <div class="container">
                <button class="btn btn-primary text-left" style="float: left;" id="submitBtn">{% trans Rozpocznij płatność %}</button>
            </div>
        </section>
    </form>
</div>