{% load i18n %}

<div class="post">
<h2>{% trans "Latest News" %}&nbsp;&nbsp;
	<div class="float-right">
		{% if 'news.add_newsitem' in perms or user.is_superuser %}
		<a class="edit-link btn btn-outline-secondary btn-sm" href="{% url 'admin:news_newsitem_add' %}">{% trans "Post News Item" %}</a>&nbsp;
		{% endif %}
		{% url 'news' as news_url %}
		{% if news_url %}
			<a class='get-more btn btn-outline-secondary btn-sm' href="{{ news_url }}">{% trans "See More News" %}&nbsp;&raquo;</span></a>
		{% endif %}
	</div>
</h2>
{% for news_item in newsitem_list %}
	<div class="post-body">
		<h3 class="news-item-title post-title">{{news_item.title}}</h3>
		<a name="{{news_item.id}}"></a>
		<p class="news-item-date">{{news_item.publicationDate|date:"M. j, Y"}}</p>

		<div class="news-item-content post-body" id="news-item-content-{{ news_item.id }}">
			{{news_item.content|safe}}
		</div>
	</div>

{% endfor %}
</div>
