{% extends "cms/home.html" %}
{% load i18n %}

{% block content %}
    {% if 'news.add_newsitem' in perms or user.is_superuser %}
    <a class="btn btn-default" href="{% url 'admin:news_newsitem_add' %}">{% trans "Post News Item" %}</a>
    {% endif %}
    {% for news_item in newsitem_list %}
    	<div class="post">
    		<h2 class="news-item-title post-title">{{news_item.title}}</h2>
    		<a name="{{news_item.id}}"></a>
    		<p class="news-item-date">{{news_item.publicationDate}}</p>
    		<div class="news-item-content post-body">
    			{{news_item.content|safe}}
    		</div>
    	</div>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="page-current">
                    {% blocktrans with thisPage=page_obj.number numPages=page_obj.paginator.num_pages %}
                    Page {{ thisPage }} of {{ numPages }}.
                    {% endblocktrans %}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}