{% extends "cms/admin_home.html" %}

{% block content %}

	<h2>Email Students: Confirmation </h2>

	<p>Please confirm the following before sending:</p>

	<div class="panel pabel-default">
	<div class="panel-heading">Content</div>
	<div class="panel-body">

		{% if testemail %}<h3>Test Email (No Recipients)</h3> <hr />{% endif %}
		<h4>From: {{ from_name }} &lt;{{ from_address }}&gt;</h4>
		<h4>Subject: {{ subject }}</h4>

		<h4>Message:</h4>
		<div class="well">{{ message }}</div>

	</div>
	<div class="panel-heading">Recipients</div>
	<div class="panel-body">

		<h5>
			{% if month and not series %}
				Events in {{ month }}:
			{% else %}
				Students Registered for Events:
			{% endif %}
		</h5>
		{% for s in events_to_send %}
			{{ s.name }}<br />
		{% endfor %}

		<a class="btn btn-default" data-toggle="collapse" href="#recipients_detail">Show Detailed Recipients &raquo;</a>

	</div>
	<div class="panel-body panel-collapse collapse" id="recipients_detail">
				
		<h5>CC:</h5>
		{{ cc|join:"<br />" }}

		<h5>BCC:</h5>
		{{ bcc|join:"<br />" }}
		{{ emails|join:"<br />" }}

	</div>
	</div>

	<a class="btn btn-success" href="?confirmed=True">Send Emails</a>
	<a class="btn btn-success" href="{% url 'emailStudents' %}">Return To Form</a>

{% endblock %}
