{% extends "cms/home.html" %}
{% load cms_tags danceschool_tags sekizai_tags %}

{% block content %}

<h1>Invoice for {{ businessName }}:</h1>

<dl>
	<dt>Invoice Number:</dt>
	<dd>{{ object.id }}</dd>

	<dt>Invoice Status:</dt>
	<dd>{{ object.statusLabel }}</dd>

	{% if object.amountPaid %}
		<dt>Amount Paid:</dt>
		<dd>{{ currencySymbol }}{{ object.amountPaid }}</dd>
	{% endif %}

	{% if object.outstandingBalance %}
		<dt>Outstanding Balance:</dt>
		<dd>{{ currencySymbol }}{{ object.outstandingBalance }}</dd>
	{% endif %}
</dl>

<table class="table">
<tr>
	<td>Initial Price</td>
	<td>{{ currencySymbol }}{{ object.grossTotal|floatformat:"2" }}</td>
</tr>
<tr>
	<td>Net Price</td>
	<td>{{ currencySymbol }}{{ object.total|floatformat:"2" }}</td>
</tr>
<tr>
	<td>Taxes</td>
	<td>{{ currencySymbol }}{{ object.taxes|floatformat:"2" }}</td>
</tr>
<tr>
	<td>Fees</td>
	<td>{{ currencySymbol }}{{ object.fees|floatformat:"2" }}</td>
</tr>
<tr>
	<td>Adjustments/Refunds</td>
	<td>{{ currencySymbol }}{{ object.adjustments|floatformat:"2" }}</td>
</tr>

</table>

<hr />

<h2>Item Details</h2>

{% if 'core.change_registration' in perms and object.finalRegistration %}
	<a class="btn btn-default" href="{% url 'admin:core_registration_change' object.finalRegistration.id %}">View Registration</a>
{% elif 'core.change_temporaryregistration' in perms and object.temporaryRegistration %}
	<a class="btn btn-default" href="{% url 'admin:core_temporaryregistration_change' object.temporaryRegistration.id %}">View Temporary Registration</a>
{% endif %}

<table class="table">
<thead>
	<tr>
		<th>Name</th>
		<th>Inital Price</th>
		<th>Price with Discounts</th>
		<th>Taxes</th>
		<th>Fees</th>
		<th>Adjustments</th>
		{% if 'financial.change_revenueitem' in perms %}
		<th>Links</th>
		{% endif %}
	</tr>
</thead>
<tbody>
{% for item in object.invoiceitem_set.all %}
	<tr>
		<td>{{ item.name }}</td>
		<td>{{ currencySymbol }}{{ item.grossTotal|floatformat:"2" }}</td>
		<td>{{ currencySymbol }}{{ item.total|floatformat:"2" }}</td>
		<td>{{ currencySymbol }}{{ item.taxes|floatformat:"2" }}</td>
		<td>{{ currencySymbol }}{{ item.fees|floatformat:"2" }}</td>
		<td>{{ currencySymbol }}{{ item.adjustments|floatformat:"2" }}</td>
		{% if 'financial.change_revenueitem' in perms %}
			<td>
				{% if item.revenueitem %}
					<a class="btn btn-default btn-xs" href="{% url 'admin:financial_revenueitem_change' item.revenueitem.id %}">Rev. Item</a>
				{% endif %}
			</td>
		{% endif %}
	</tr>
{% endfor %}
<tbody>
</table>

{% if payments %}
	<hr />

	<h2>Payment Details</h2>

	{% if 'core.process_refunds' in perms %}
		<a class="btn btn-default" href="{% url 'refundProcessing' object.id %}">Refund</a>
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th>Payment Method</th>
				<th>Transaction ID</th>
				<th>Amount</th>
			</tr>
		</thead>
		{% for payment in payments %}
			<tr>
				<td>{{ payment.method }}</td>
				<td>{{ payment.id}}</td>
				<td>{{ currencySymbol }}{{ payment.netAmountPaid|floatformat:"2" }}</td>
			</tr>
		{% endfor %}
		</table>
{% endif %}

<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">Comments/Notes</h4></div>
<div class="panel-body">
	<pre class="unstyled">{{ object.comments }}</pre>
</div>
</div>

{% if object.outstandingBalance %}
	<hr />
	<h2>Pay Invoice</h2>

	{% static_placeholder "registration_payment_placeholder" %}
{% endif %}

{% addtoblock "css" %}
	<style type="text/css">
		pre.unstyled {
			border: 0;
			padding: 0;
			background-color: transparent;
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 14px;
		}
	</style>
{% endaddtoblock %}
{% endblock %}