{% extends "cms/home.html" %}
{% load crispy_forms_tags i18n sekizai_tags static %}

{% block title %}{% trans "Partner Information Required" %}{% endblock %}

{% block body_id %}classes{% endblock %}

{% block content %}
	{% block summary %}
		{% include 'core/base/base_summary_block.html' %}
	{% endblock %}

	{# Display any warning or error messages associated with the previous form submission #}
	<div id="message-alerts">
    {% for message in messages %}
	    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% else %}alert-info{% endif %}">{{ message }}</div>
    {% endfor %}
    </div>


	{% block form %}
		<h3 class="mt-5 mb-3">{% trans "Step 3: Additional Partner Information Required" %}</h3>

		<p>{% blocktrans %}
		One or more events that you are registering for require a partner. Please
		select or enter the name of the dance partner for each person registering.
		{% endblocktrans %}</p>

		<form action="" method="post">
			{% csrf_token %}
			{% crispy form %}
		</form>
	{% endblock %}

	{% addtoblock "js" %}
	<script src='{% static "js/partner_required_form.js" %}'></script>
	{% endaddtoblock %}
{% endblock %}
