{% extends "cms/admin_home.html" %}
{% load danceschool_tags sekizai_tags %}

{% block content %}

<h3>Registration #{{ registration.id }} for {{ registration.customer.first_name }} {{ registration.customer.last_name }}</h3>

<dl>
	<dt>Date &amp; Time:</dt><dd>{{ registration.dateTime|date:'DATETIME_FORMAT' }}</dd>
	<dt>Net Amount Paid:</dt><dd>{{ registration.amountPaid }}</dd>
	<dt>Price with Discounts:</dt><dd>{{ registration.priceWithDiscount }}</dd>
	<dt>Paid Online:</dt><dd>{{ registration.paidOnline|yesno }}</dd>
	<dt>Student:</dt><dd>{{ registration.student|yesno }}</dd>
</dl>

{% if payments %}
	<div class="panel panel-default">
		<div class="panel-heading"><h4 class="panel-title">Payment Details</h4></div>
		<div class="panel-body">
			{% for payment in payments %}
				{{ payment.method }}: {{ payment.id}}
			{% endfor %}
		</div>
{% endif %}

<hr />

<form id="refund_form" method="post" action="">{% csrf_token %}

<h2>Total Refund Amount: {{ currencySymbol }}<span id="total_refund_amount">{{ registration.revenueRefundsReported|floatformat:2 }}</span></h2>

{% if registration.revenueNotYetReceived %}
	<div class="alert alert-danger" role="alert">Revenue in the amount of {{ currencySymbol }}<span id="not_received_amount">{{ registration.revenueNotYetReceived|floatformat:2 }}</span> has been recorded for this registration, but not yet received.  In determining any refund amount, please account for revenue that has not yet been received.  Items with revenue not yet marked as received are highlighted below.</div>
{% endif %}
{% if registration.refundableReceived < registration.revenueReceived and registration.refundableReceived > 0 %}
	<div class="alert alert-danger" role="alert">Of the {{ currencySymbol }}<span id="all_received_amount">{{ registration.revenueReceived|floatformat:2 }}</span> marked as received for this registration, only {{ currencySymbol }}<span id="refundable_received_amount">{{ registration.refunableReceived|floatformat:2 }}</span> was received via a method that is automatically refundable.  Items with non-automatically-refundable revenue are highlighted below.  If you process a refund request for these items using this form, note that you will still need to manually refund the money.</div>
{% endif %}
{% if registration.refundableReceived == 0 %}
	<div class="alert alert-danger" role="alert">None of the {{ currencySymbol }}<span id="all_received_amount_2">{{ registration.revenueReceived|floatformat:2 }}</span> received for this registration is received via a method that is automatically refundable.  If you process a refund request for these items using this form, note that you will still need to manually refund the money.</div>
{% endif %}
{% if registration.paypalUnallocatedRefunds %}
	<div class="alert alert-danger" role="alert">This registration has unallocated refunds amounting to {{ currencySymbol }}<span id="unallocated_refund_amount">{{ registration.paypalUnallocatedRefunds|floatformat:2 }}</span>.  Please allocate them before submitting.</div>
{% endif %}

{{ form.non_field_errors }}
{{ form.id.errors }}
{{ form.id }}
{{ form.total_refund_amount.errors }}
{{ form.total_refund_amount }}
{{ form.initial_refund_amount.errors }}
{{ form.initial_refund_amount }}


<input type="submit" class="btn btn-primary" value="Process Refund" />

{% if registration.eventregistration_set.all %}
	<h4>Events Registered</h4>
	<table class="regrefundtable table" border=1>
	<thead>
		<tr>
			<td>Reg. ID</td>
			<td>Event/Series Name</td>
			<td>Price (Gross)</td>
			<td>Price (Net)</td>
			<td>Cancelled</td>
			<td>Refunds/Adjustments</td>
		</tr>
	</thead>
	<tbody>
	{% for er in registration.eventregistration_set.all %}
		<tr {%if er.revenueNotYetReceived or er.refundableReceived < er.revenueReceived %}class="warning"{% endif %}>
			<td>{{ er.id }}</td>
			<td>{{ er.event }}</td>
			<td id="er_price_{{ er.id }}">{{ currencySymbol }}{{ er.price|floatformat:2 }}</td>
			<td id="er_netPrice_{{ er.id }}">{{ currencySymbol }}{{ er.netPrice|floatformat:2 }}</td>
			<td>{% get_field_for_object 'er_cancelled' er.id form as field_cancelled %}{{ field_cancelled }}</td>
			<td>{% get_field_for_object 'er_refundamount' er.id form as field_refundAmount %}{{ field_refundAmount }} {{ field_cancelled.errors }}{{ field_refundAmount.errors }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}

<div class="form-group">
    {{ form.comments.errors }}
    {{ form.comments.label_tag }}<br />
    {{ form.comments }}
    <p class="help-block">{{ form.comments.help_text }}</p>
</div>
</form>


<hr />

<p>
	<a class="btn btn-default btn-sm" href="{% url 'registration' %}">Class Registration Page</a>
	<a class="btn btn-default btn-sm" href="{% url 'viewregistrations_selectevent' %}">Select Another Event</a>
</p>

{% addtoblock "js" %}
<script type="text/javascript">
	$(document).ready(function(){
		$('input[id*=_refundamount_]').change(function(){
			var totalRefund = 0;

			$('input[id*=_refundamount_]').each(function(i,n){
				totalRefund += parseFloat($(n).val());
			});

			$('#total_refund_amount').html(totalRefund.toFixed(2));
			$('#id_total_refund_amount').val(totalRefund);
		});

		$('input[id*=_cancelled_]').change(function(){
			if (this.checked) {
				var thisType = this.id.split("_")[1];
				var thisId = this.id.split("_")[3];
				var netPrice = parseFloat($("#" + thisType + "_netPrice_" + thisId).html().replace("{{ currencySymbol }}",""))

				$("#id_" + thisType + "_refundamount_" + thisId).val(netPrice.toFixed(2))
			}


			var totalRefund = 0;

			$('input[id*=_refundamount_]').each(function(i,n){
				totalRefund += parseFloat($(n).val());
			});

			$('#total_refund_amount').html(totalRefund.toFixed(2));
			$('#id_total_refund_amount').val(totalRefund);
		});

		$('input[type=submit]').click(function( event ){
			var alertFlag = false;

			$('input[id*=_cancelled_]:checked').each(function(i,n){
				var thisType = n.id.split("_")[1];
				var thisId = n.id.split("_")[3];
				var thisRefund = parseFloat($("#id_" + thisType + "_refundamount_" + thisId).val());

				if (thisRefund != parseFloat($("#" + thisType + "_netPrice_" + thisId).html().replace("$",""))) {
					alertFlag = true;
				}
			});

			if (alertFlag == true) {
				if (confirm("Cancelled classes are not fully refunded. Confirm that this is desired?")) {
					$('#refund_form').submit();
				}
				else {
					event.preventDefault();
				}
			}
			else {
				$('#refund_form').submit();
			}
		});

	});
</script>
{% endaddtoblock %}

{% endblock %}
