{% extends "cms/home.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Classes" %}{% endblock %}

{% block body_id %}classes{% endblock %}

{% block content %}
	{% block summary %}
		{% include 'core/base/base_summary_block.html' %}
	{% endblock %}

	{# Display any warning or error messages associated with the previous form submission #}
	<div id="message-alerts">
    {% for message in messages %}
	    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% else %}alert-info{% endif %}">{{ message }}</div>
    {% endfor %}
    </div>


	{% block form %}
		<h3 class="mt-5 mb-3">{% trans "Step 2: Provide Your Information" %}</h3>
		{% if is_multiple_registration %}
		<p><em>
			{% trans "Note: You have signed up for more than one event registration, so you will be asked to confirm the name for each registration on the next page." %}
		</em></p>
		{% endif %}

		{% if show_ajax_form %}
			{% include "account/ajax_login.html" %}

		<div class="card">
			<div class="card-body">

		{% endif %}
				<form action="" method="post">
				    {% csrf_token %}
				    {% crispy form %}
				</form>
		{% if show_ajax_form %}
			</div>
		</div>
		{% endif %}
	{% endblock %}
{% endblock %}
