{% extends "cms/site_base.html" %}
{% load static sekizai_tags cms_tags %}

{% block extra_head %}

	{% addtoblock "meta" %}
		<meta name="robots" content="index, follow">
	{% endaddtoblock %}

	{% addtoblock "css" %}
	    <!-- Custom fonts for this template -->
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

	    <!-- Custom styles for this template -->
	    <link href="css/business-casual.css" rel="stylesheet">
	{% endaddtoblock %}

{% endblock %}
